# Visual Studio / CMake
.vs/
out/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.sln
*.vcxproj
*.vcxproj.filters
*.user

# Compiled files
Debug/
Release/
x64/
*.exe
*.obj
*.pdb
*.ilk
*.dll
*.lib

# OS
.DS_Store
Thumbs.db
